{% include 'template.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            {% for category in categories %}
            <div class="card forum-feed">
                <div class="card-header">
                    <h3>{{ category.name }}</h3>
                </div>
                {% for sub_category in sub_categories %}
                    {% if sub_category.category == category.id %}
                    <a href=#>
                        <div class="card-body">
                            <div class="col-sm-12">
                                <div class="row align-items-center">
                                    <div class="col-sm-2">
                                        <img class="img-fluid rounded-circle mx-auto d-block" src="{{ sub_category.icon }}" />
                                    </div>
                                    <div class="col-sm-8">
                                        <h5 class="card-title">{{ sub_category.name }}</h5>
                                        <p class="card-text">{{ sub_category.description|slice(0, 100) ~ '...' }}</p>
                                    </div>
                                    <div class="col-sm-2 sc-statistics text-center">
                                        <h5 class="card-title">
                                            {{ sub_category.posts }}
                                            <br>
                                            <small>posts</small>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div class="col-sm-3 side-panel">
            <div class="card">
                <div class="card-header">
                    <p>Estatísticas do Fórum</p>
                </div>
                <div class="card-body">
                    <div class="col-sm-12">
                        <p>Usuários registrados: {{ statistics.users }}</p>
                        <p>Número de postagens: {{ statistics.posts }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}